:root {
    --movies-clr: #001529;
    --movies-hvr-clr: #4096ff;
    --bg-clr: #f5f5f5;
    --nav-clr: var(--movies-clr);
}

.filled, .filled::before, .main div>span, .ant-pagination-item {
    transition-timing-function: cubic-bezier(.645, .045, .355, 1);
    transition-duration: .3s;
}

.filled {
    border: 1px solid var(--movies-clr);
    transition-property: border-color;
}

.filled::before {
    transition-property: background-color;
}

.main div>span {
    transition-property: opacity, color;
}

#collapse:hover+.filled,
.pin-menu:hover+.filled,
.filled:hover {
    border-color: var(--movies-hvr-clr);
}

#collapse:hover+.filled,
.pin-menu:hover+.filled,
.pin-menu:hover~span,
.filled:hover+span,
.filled:hover {
    --nav-clr: var(--movies-hvr-clr);
}

.ant-layout {
    min-height: 100%;
}

.ant-layout>.ant-layout-header {
    padding-inline: unset;
    margin-left: calc(-1 * var(--sidenav-width));
    height: 50px;
}

.ant-layout-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: 1150px;
    padding: 15px;
    margin: auto;
    width: 100%;
}

#searchbox-container+div {
    align-content: start;
    flex: auto;
}

.ant-card-meta, .ant-layout-footer {
    text-align: center;
}

.ant-btn-primary, #topnav {
    background-color: var(--movies-clr);
}

.ant-pagination .ant-pagination-item-active {
    border-color: var(--movies-clr);
}

.ant-layout-footer a {
    color: var(--movies-clr);
}

.loader svg {
    fill: var(--movies-clr);
}

.loader {
    margin: 20px auto;
}

.error {
    margin: 43px auto;
}

.ant-pagination-item-active:hover,
.ant-layout-footer a:hover,
h4.imdb-rating {
    color: var(--movies-hvr-clr);
}

h4.imdb-rating {
    white-space: nowrap;
}

.ant-card {
    cursor: pointer;
    width: 200px;
}

.ant-card-body>.ant-row {
    justify-content: center;
    margin-top: 10px;
}

h3.ant-typography {
    text-align: center;
    margin-left: var(--sidenav-width);
    margin-top: 10px;
    color: #fff;
}

.imdb-rating {
    text-align: right;
}

.item-container {
    max-width: unset;
    margin: 20px 0;
}

#searchbox-container {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px 0;
    background-color: #fff;
}

#searchbox {
    min-width: 200px;
    margin: auto;
}

.ant-modal-body {
    display: flex;
    overflow: auto;
}

#detail-col {
    margin-left: 10px;
}

#detail-col h4 {
    margin-top: 0;
}

#detail-col>.ant-row:nth-child(2) {
    margin-bottom: 20px;
}

#detail-col>.ant-row:nth-child(3),
#detail-col>.ant-row:nth-child(4) {
    margin-bottom: 10px;
}

.ant-pagination {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    text-align: center;
    padding: 5px 0;
}

.ant-pagination-item {
    transition-property: border-color, color;
}

@media screen and (max-width: 450px) {
    #searchbox-container {
        top: var(--topnav-height);
    }
}

@media screen and (max-width: 650px) {
    .ant-modal-body>div[id] {
        min-width: 100%;
    }

    #image-col {
        text-align: center;
        margin: auto;
    }

    #image-col>img {
        max-width: 100%;
    }
}

@media screen and (max-width: 705px) {
    #searchbox {
        max-width: unset;
        flex: unset;
    }
}